/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
* a {
    text-decoration: none;
}

body {
    width: 100%;
    background-color: white;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: rgb(42, 171, 226);
    padding: 20px;
}

#nav-top {
    width: 35%;
}

#nav-top ul {
    display: flex;
    justify-content: space-between;
}

#nav-top ul li{
    list-style-type: none;
}

#nav-top a {
    color: white;
}

main {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

#left-container {
    width: 70%; 
    margin-right: 50px;
    padding-right: 40px;
}

#left-container p {
    margin-top: 25px;
    font-weight: 700;
}

#gallery-container {
    margin: 0px 0;
}

#gallery-container h2 {
    font-weight: 900;
}

#gallery-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#img-larger-link {
    align-self: flex-end;
    font-size: 15px;
    color: rgb(42, 171, 226);
    
}

#img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#dm-stock {
    width: 25%;
    margin: 25px;
    background-color: rgb(43, 43, 43);
}

#right-container {
    width: 275px;
    height: 70%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 275px;
}
#profile-card img {
    width: 70%;
}
#profile-card h2{
    font-weight: 900;
    margin-top: 20px;
}

#nav-articles {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-articles h3 {
    margin-bottom: 10px;
    font-weight: 900;
}
#nav-articles li {
    margin-top: 7px;
    font-weight: 700;
}

.box-shadow {
    margin-bottom: 30px;
    box-shadow: 0 0 30px 0px rgba(102, 75, 75, .3);
    border-radius: 10px;
}

footer {
    height: 50px;
    background-color: rgb(42, 171, 226);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

footer h3{
    font-size: 15px;
}

#info {
    height: 30px;
    width: 30px;
    position: fixed;
    border: 2px solid black;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 171, 226);
}